* {
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 64px;
	background-color: #ddd;
	color: #222;
}
body > * + * {
	margin-top: 16px;
}

pre {
	padding: 8px;
	background-color: white;
}
pre.src {
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	user-select: none;
}
pre.res {
	margin-top: 1px;
	border-radius: 0 0 4px 4px;
	color: #63c;
	font-style: italic;
}
